@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-sans: 'Public Sans', sans-serif;

    --color-rebeccaPurple-50: #faf6fe;
    --color-rebeccaPurple-100: #f2ebfc;
    --color-rebeccaPurple-200: #e7dafa;
    --color-rebeccaPurple-300: #d5bdf5;
    --color-rebeccaPurple-400: #bc93ed;
    --color-rebeccaPurple-500: #a16ae2;
    --color-rebeccaPurple-600: #8b4ad3;
    --color-rebeccaPurple-700: #7638b8;
    --color-rebeccaPurple-800: #663399;
    --color-rebeccaPurple-900: #522a79;
    --color-rebeccaPurple-950: #371358;

    --container-full: 100%;
}

:root {
    --ui-container: var(--container-full);
}